
body {
    background-color: ghostwhite;
    font-family: Arial, sans-serif;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color:plum;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;  
}
h2 {
    text-align: center;
    color: black;
}
form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 50px;
}

label {
    display: block;
    margin-bottom: 12px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color:white;
    color:blueviolet;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}
.login-link {
    text-align: center;
    margin-top: 20px;
}
.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
